/*============colors===============*/

$blue:#65abd0;
$blue-hover:#5093b7;
$blue-border:#609fc0;

$green:#24aa98;
$green-border:#269e8e;

$gray-text:#b4bbc2;
$gray-border:#c6ccd2;

$red:#db7560;

/*==============mixins==============*/

@mixin middle() {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
}