@import 'normalize';
@import 'fontello';

@import 'var';
@import 'icons';
@import 'btn';
@import 'radio';
@import 'checkbox';
@import 'selection-line';
@import 'loading-bar';
@import 'tooltip';
@import 'indicator';


/*==============commom classes============*/
html {
    font-family: 'Cabin', sans-serif; 
}
* {
    box-sizing: border-box;
}
.section {
    max-width: 940px;
    margin: 30px auto; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*================section-inp-email-search==================*/

.container {
    width:50%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &__left {
        padding-right: 15px;
    }
    &__right {
        padding-left: 15px;
    }
}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 220px;   
    margin-top: 20px;

    &--multiply {
        display: flex;
    }
    &--multiply-between {
        display: flex;
        justify-content: space-between;
    }
    &--full {
        width: 100%;
    }
    &--error {
    position: relative;

        input {
            border-color:$red;
        }

        &:after {
            @include centered(y);
            font-family: 'fontello';
            font-size: 16px;
            color:$red;
            content: '\e806';
            width: 16px;
            height: 16px;
            right:10px;
        }
    }
    &--success {
        position: relative;

        input {
            border-color:$green-border;
        }

        &:after {
            @include centered(y);
            font-family: 'fontello';
            font-size: 16px;
            color:$green-border;
            content: '\e805';
            width: 16px;
            height: 16px;
            right:10px;
        }
    }
    &--search {
        position: relative;

        input[type="search"] {
            padding-left: 36px;
            padding-right: 36px;
        }

    }
    
}
.inp-email {
    width:100%;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid $gray-border;
    border-radius: 5px;
    padding: 12px 15px;
    
    @include placeholder {
        color: $gray-text;
    }
    
    &:focus {
        outline: none;
        border-color:$blue;
    }
    &--sm {
        font-size: 14px;
        padding:7px 10px;
    }
}
.inp-search {
    width:100%;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid $gray-border;
    padding: 12px 15px;
    border-radius:1000px;

    &--sm {
        font-size: 14px;
        padding:7px 10px;
    }

    &__btn {
        border-radius: 5px;
    
        &--right {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &--sm {
            width: 36px;
            height: 36px;
        }
    }

    &--left {
        border-radius:0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 170px;
    }
    &--center {
        border-radius:5px;
        width: 160px;
    }

    @include placeholder {
        color: $gray-text;
    }
    
    &:focus {
        outline: none;
        border-color:$blue;  
    }
    &:focus + .icon-search-pos {
        opacity: 1;
    }
    &:focus + .icon-search-pos + .icon-cancel-circled-pos {
        opacity: 1;
    }
    
}
.textarea {
    width:100%;
    font-size: 16px;
    border: 2px solid $gray-border;
    border-radius: 5px;
    padding: 12px 15px;
    height: 138px;
    
    @include placeholder {
        color: $gray-text;
    }
    &:focus {
        outline: none;
        border-color:$blue;  
    }
}
.select {
    width:100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 15px;
    appearance: none;
    background-color: $green-border;
    color:#fff;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }
   
}

.select-group {
    position: relative;
    
    &:before {
    content:'\f107';
    font-family: 'fontello';
    font-size: 16px;
    height: 16px;
    width: 16px;
    @include centered(y);
    color:#fff;
    z-index: 100;
    right: 12px;
    }
    
}
[disabled] + label {
  color:$gray-text;
}